.fbg
{
    background-color: #fdd459;
}

.ftitle
{
    font-family: 'Poppins',sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #1178b8;
    padding-top: 10px;
}

.fdata
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top:2px solid #1178b8;
    border-bottom:2px solid #1178b8;
    padding-top: 10px;
}

.finfo
{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    padding-left: 20px;
}

.table
{
    width: 250px;
    font-family: 'Poppins',sans-serif;
    border: 2px solid #c79d21;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20px;
}

.tt
{
    /* padding-top: 10px; */
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    padding: 10px 0px;
}

.bb
{
    border: 2px solid #c79d21;
    background-color: #1178b8;
    color: white;
}

.flines
{
    height: 600px;
    width: 100%;
    padding: 10px;
}

.bookcol
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.bookrow
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}