*
{
    padding: 0%;
    margin: 0%;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #1178b8;
}

.name
{
    font-family: 'Poppins', sans-serif;
    color: #ffc820;
    font-size: 30px;
    font-weight: 900;
    margin-left: 20px;
}

a
{
    text-decoration: none; 
    color: #ffc820;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(253, 253, 245);
    border-radius: 25px;
    margin: 2px;
}