*
{
    bottom: 0;
    left: 0;
}

.footer
{
    background-color: #1178b8;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

span
{
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    font-size: 30px;
    padding-left: 35%;
    color: rgb(253, 253, 245);
}

.icon
{
    width: 50px; 
    height: 50px; 
    padding-left: 10px; 
    fill: #ffc820;
}